.title {
    color: whitesmoke;
    text-align: center;
}

.uloaderWrapper {
    /*margin: 0 auto;*/
    height: 200px;
    width: 60%;
    margin: 0 auto;
}

.tableWrapper {
    /*margin: 0 auto;*/
    height: 400px;
    width: 60%;
    margin: 0 auto;
}